.image{
	background-image: url("nepal1.jpg");
	background-position: center;
	height: 200px;
	width: 100%;
}

.nav ul{
	list-style-type: none;
	overflow: hidden;
}
.nav{
	margin-left: 250px;
}

li{
	display: inline-block;
	margin: 20px;
	padding: 10px;
	text-align: center;
	font-size: 35px;
}

button{
	font-size: 40px;
	position: relative;
	float: right;
	bottom: 100px;
	margin-right: 150px;
}